.board-title {
  height: 2rem;
  width: 85%;
  margin: 0.5rem 0;
  input {
    height: 100%;
    width: 100%;
    border: none;
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0.5rem;
    &:focus {
      outline: none;
    }
  }
  h3 {
    height: 100%;
  }
}
